
body {
    
    margin: 0;
    color: #2e2b59;
    background-image: url("../img/Tulip.jpg");
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial nova light, sans-serif;
}
.background {
    height: max-content;
    width: auto;
}
header {
    background-color: #FFF;
    color: white;
    padding: 10px 0;
    text-align: center;
}
.logo {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}
.logo img, h1 {
    color: #2F4156;
    font-family: Verdana, Tahoma, sans-serif, sans-serif;
    font-size: 30px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}
.logo h2 {
    display: flex;
    justify-content: center;
    font-family: Verdana, Tahoma, sans-serif, sans-serif;
    font-size: 30px;
    color: #2F4156;
    padding: 10px;
   
    
}
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #2F4156;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: #0b4aa8;
    padding: 10px;
    
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.navbar ul li {
    position: relative;
    font-size: 25px;
    color: white;
    text-align: center;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    cursor: pointer;

}

.navbar ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    display: block;
}

.navbar ul li a:hover {
    border-radius: 10px;
    text-decoration: overline underline;
}

/* menu deroulant */
.dropdown-content {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #0b4aa8;
    min-width: 150px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    opacity: 0;
    transform: translateY(-10px);
    visibility: hidden;
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}
.dropdown-content li {
    width: 100%;
}
.dropdown-content li a {
    color: #2e2b59;
    padding: 10px;
    display: block;
}
.dropdown-content li a:hover {
    background-color: #2F4156;
    color: white;
    text-decoration: none;
}
.dropdown:hover .dropdown-content,
.dropdown-content.show {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
    z-index: 999;
}




/* Cyanotype*/
.Cyanotype{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    background-color: #0b4aa8;
    border-radius: 10px;
    
}
.Cyanotype h2{
    font-size: 80px;
    color: #FFF;
    text-align: center;
    padding: 5px;
    text-decoration: none;
}
.Cyanotype h3{
    font-size: 50px;
    color: #FFF;
    text-align: center;
    padding: 5px;
    text-decoration: underline;
}
.Cyanotype p{
    font-size: 25px;
    color: #FFF;
    text-align: center;
    padding: 10px;
}
.Cyanotype a{
    text-decoration: none;
    color: #FFF;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    background-color: #2F4156;
    font-size: 30px;
}

.PieceUnique{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    background-color: transparent;
    border-radius: 10px;
}
.PieceUnique h2{
    font-size: 50px;
    color: #FFF;
    text-align: center;
    padding: 10px;
    text-decoration: underline;
}  

/* carousel image Piece Unique*/
.carousel-container {
    position: relative;
    width: 100%; 
    height: auto;
    max-width: 400px; 
    margin: auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
}
.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;

}
.carousel img {
    width: 100%;
    height: auto;
    flex: 0 0 100%;
    border-radius: 10px;
}
/* Boutons de navigation */
button.prev, button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 5px 10px; 
    font-size: 35px;
    cursor: pointer;
    border-radius: 50%;
    transition: background 0.3s;
}
button.prev:hover, button.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
button.prev {
    left: 5px;
}
button.next {
    right: 5px;
} 
.Video{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    background-color: transparent;
    border-radius: 10px;
}
.Video h2{
    font-size: 30px;
    color: #FFF;
    text-align: center;
    padding: 10px;
    text-decoration: underline;
}

/* footer */
footer{
    background-color: #FFF;
    text-align: center;
    padding: 10px 0;
    justify-content: space-between;
}
.logoFooter img{
    width: auto;
    height: 450px;
}
.footerInfo{
    display: flex;
    flex-direction: row;
    gap: 20px; 
    padding: 10px;
    justify-content: center;
    font-size: 30px;
}
.contact h3{
    text-align: center;
    color: black;
    text-decoration: underline;
    font-size: 50px;
    padding: 10px;
    border-radius: 10px;
}
.contact ul {
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 15px; 
    list-style: none;
    padding: 0;
    margin: 0;
}

.contact ul li {
    display: flex;
    align-items: center; 

}

.contact ul li a {
    text-decoration: none;
    color: black; 
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 8px; 
}


.socialMedia-logo {
    width: 50px; 
    height: 50px;
}

.info h3{
    text-align: center;
    color: #000;
    text-decoration: underline;
    font-size: 50px;
    padding: 10px;
    border-radius: 10px;

}

.info ul {
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 15px; 
    list-style: none;
    padding: 0;
    margin: 0;
}
.info ul li{
    display: flex;
    align-items: center;
}
.info ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.QSJ{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    background-color: #2F4156;
    border-radius: 10px;
}
.QSJ img{
    width: 25%;
    height: auto;
    border-radius: 10px;
}
.QSJ p{
    font-size: 50px;
    color: #FFF;
    text-align: justify;
    line-height: 2.1;
    word-spacing: 2px;
    text-indent: 30px;
}
.QSJ h1{
    font-size: 80px;
    color: #FFF;
    text-align: center;
    padding: 10px;
    text-decoration: underline;
}



.Marché{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    background-color: #2F4156;
    border-radius: 10px;
}
.Marché h2{
    font-size: 50px;
    color: #FFF;
    text-align: center;
    padding: 10px;
    text-decoration: underline;
}
.Marché p{
    font-size: 25px;
    color: #FFF;
    text-align: justify;
    line-height: 2.1;
    word-spacing: 2px;
    text-indent: 30px;
}
.Marché li{
    font-size: 25px;
    color: #FFF;
    text-align: justify;
    line-height: 2.1;
    word-spacing: 2px;
    text-indent: 30px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 10px;
}
    
blockquote{
    font-style: italic;
    border-left: 4px solid #007bff;
    padding-left: 10px;
    color: #000;
    margin: 20px 0;
    font-size: 45px;
    text-align: center;
    text-decoration: underline;
    
}

.TitleMain H1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 80px;
    text-align: center;
    padding: 10px;
    text-decoration: underline;
}

.Social{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    background-color: #2F4156;
    border-radius: 10px;
}
.Social h2{
    font-size: 50px;
    color: #FFF;
    text-align: center;
    padding: 10px;
    text-decoration: underline;
}
.VideoActu{
    display: flex;
    flex-direction: row;
    width: 20%;
    height: auto;
    border-radius: 10px;

}
.VideoActu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 10px;
    margin: 10px;
}

.RecettePImg{
    background-color: #2F4156;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
}
.RecetteH1{
    font-size: 30px;
    color: #FFF;
    text-align: center;
    padding: 10px;
    text-decoration: underline;
    background-color: #2F4156;
}
.RecettePImg img{
    width: 50%;
    height: auto;
    border-radius: 10px;
}

.RecettePImg p{
    font-size: 20px;
    color: #FFF;
    text-align: justify;
    line-height: 2.1;
    word-spacing: 2px;
    text-indent: 30px;
}



.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}
