
body {
    
    margin: 0;
    color: white;   
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Cormorant Garamond', serif;
}
.background {
    height: max-content;
    width: auto;
}
header {
    background-color: #FFFF;
    color: #007bff;
    padding: 10px 0;
    text-align: center;
}
.logo {
    display: flex;
    align-items: flex-end; 
    gap: 10px;
}

.logo img {
    height: 200px;
    width: auto;
}

.logo-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    gap: 0px;
}

.logo-text h1,
.logo-text h2 {
    margin: 10px 0;
    color: #2F4156;
    line-height: 1.1;
    font-family: 'Courier New', Courier, monospace;
}

.logo-text h1 {
    font-size: 80px;

}


.logo-text p {
    font-size: 30px;
    color: #2F4156;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-family: 'Cormorant Garamond', serif;
}


.navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    flex-direction: column; 
    background-color: #FFF;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 10px;
    gap: 20px; 
    font-family: 'Cormorant Garamond', serif;
    color: #007bff;
}
.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.navbar ul li {
    position: relative;
    font-size: 25px;
    color: #093880;
    text-align: center;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    cursor: pointer;

}

.navbar ul li a {
    text-decoration: none;
    color: #093880;
    padding: 10px 15px;
    display: block;
}

.navbar ul li a:hover {
    border-radius: 10px;
    text-decoration: overline underline;
}

/* menu deroulant */
.dropdown-content {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #FFF;
    min-width: 150px;
    box-shadow: 0px 4px 6px rgba(F, F, F, 0.1);
    border-radius: 5px;
    overflow: hidden;
    opacity: 0;
    transform: translateY(-10px);
    visibility: hidden;
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}
.dropdown-content li {
    width: 100%;
}
.dropdown-content li a {
    color: #093880;
    padding: 10px;
    display: block;
}
.dropdown-content li a:hover {
    background-color: white;
    color: #093880;
    text-decoration: none;
}
.dropdown:hover .dropdown-content,
.dropdown-content.show {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
    z-index: 999;
}




/* Cyanotype*/
.Cyanotype{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    background-image: url("../img/BackgroundIndex.png");
    background-size: cover;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    font-size: 120px;
    font-family: 'Herr Von Muellerhoff', cursive;
    letter-spacing: 2px;
    
}
.textIndex{
    color: black;
}
.textIndex h1{
    font-size: 80px;
    text-align: center;
    padding: 10px;
    text-decoration: underline;
}
.textIndex p{
    font-size: 40px;
    text-align: center;
    line-height: 2.1;
    text-indent: 15px;
    margin-left: 60px;
    margin-right: 60px;
}
.textIndex img{
    display: flex;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 10px;
}

/* footer */
footer{
    background-color: #FFF;
    text-align: center;
    padding: 10px 0;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    
}
.logoFooter img{
    width: auto;
    height: 350px;
}
.footerInfo{
    display: flex;
    flex-direction: row;
    gap: 20px; 
    padding: 10px;
    justify-content: center;
    font-size: 30px;
}
.contact h3{
    text-align: center;
    color: black;
    text-decoration: underline;
    font-size: 50px;
    padding: 10px;
    border-radius: 10px;
}
.contact ul {
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 15px; 
    list-style: none;
    padding: 0;
    margin: 0;
}

.contact ul li {
    display: flex;
    align-items: center; 

}

.contact ul li a {
    text-decoration: none;
    color: black; 
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 8px; 
}


.socialMedia-logo {
    width: 50px; 
    height: 50px;
}

.info h3{
    text-align: center;
    color: #000;
    text-decoration: underline;
    font-size: 50px;
    padding: 10px;
    border-radius: 10px;

}

.info ul {
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 15px; 
    list-style: none;
    padding: 0;
    margin: 0;
}
.info ul li{
    display: flex;
    align-items: center;
}
.info ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.QSJ{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    background-color: #2F4156;
    border-radius: 10px;
}
.QSJ img{
    width: 25%;
    height: auto;
    border-radius: 10px;
}
.QSJ p{
    font-size: 50px;
    color: #FFF;
    text-align: justify;
    line-height: 2.1;
    word-spacing: 2px;
    text-indent: 30px;
}
.QSJ h1{
    font-size: 80px;
    color: #FFF;
    text-align: center;
    padding: 10px;
    text-decoration: underline;
}



.Marché{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}
.Marché h1{
    font-size: 50px;
    color: #000;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-family: 'Patrick Hand', cursive;
}
.Marché h2{
    font-size: 40px;
    color: #000;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-family: 'Patrick Hand', cursive;
}

.Marché ul{
    display: flex; 
    justify-content: center;
    text-align: center;
    flex-direction: column;
    list-style: none;
    background-color: lightgrey;
}
.Marché li h1{
    font-size: 50px;
    color: #000;
    text-align: center;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.Marché li h2{
    font-size: 40px;
    color: #000;
    text-align: center;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.Marché li h3{
    font-size: 35px;
    color: #000;
    text-align: center;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
    
blockquote{
    font-style: italic;
    border-left: 4px solid #007bff;
    padding-left: 10px;
    color: #000;
    margin: 20px 0;
    font-size: 45px;
    text-align: center;
    text-decoration: underline;
    
}


.Social{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    background-color: #2F4156;
    border-radius: 10px;
}
.Social h2{
    font-size: 50px;
    color: #FFF;
    text-align: center;
    padding: 10px;
    text-decoration: underline;
}
.VideoActu{
    display: flex;
    flex-direction: row;
    width: 20%;
    height: auto;
    border-radius: 10px;

}
.VideoActu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 10px;
    margin: 10px;
}

.RecettePImg{
    background-color: #2F4156;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
}
.RecetteH1{
    font-size: 30px;
    color: #FFF;
    text-align: center;
    padding: 10px;
    text-decoration: underline;
    background-color: #2F4156;
}
.RecettePImg img{
    width: 50%;
    height: auto;
    border-radius: 10px;
}

.RecettePImg p{
    font-size: 20px;
    color: #FFF;
    text-align: justify;
    line-height: 2.1;
    word-spacing: 2px;
    text-indent: 30px;
}



.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}

.TitleMainGalerie {
    
    background-image: url(../img/dernièresPhotosSiteWeb/92691E76-E03C-43DC-99B4-322CB18E1BEE.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
    font-family: 'Herr Von Muellerhoff', cursive;
   

}
.TitleMainGalerie   h1{
    font-size: 80px;
    color: #FFF;
    text-align: center;
    padding: 10px;
    
}
.Galerie{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
  
}

.Galerie h1{
    font-size: 50px;
    color: #FFF;
    text-align: center;
    padding: 10px;
    color: #000;
    font-family: 'Patrick Hand', cursive;   
    font-weight: 300;

}
.Galerie p {
    font-size: 25px;
    color: #FFF;
    text-align: justify;
    line-height: 2.1;
    color: #000;
    font-weight: 300;
    margin-right: 80px;
    margin-left: 80px;
}

.Serie {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Serie h1 {
    font-size: 50px;
    color: #FFF;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    color: #000;
    font-weight: 300;
    font-family: 'Patrick Hand', cursive;
}
.Serie ul {
    display: flex;
    color: #000;
    flex-direction: column;
    list-style: none;
    gap: 2px;
}

.TitleMainActualites{
    background-image: url(../img/Galerie1.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
    font-family: 'Patrick Hand', cursive;
    font-size: 50px;
    color: #FFF;
    text-align: center;
    padding: 10px;
}
